input[type="button"] {
  position: relative;
  top: 50%;
  margin-top: -30px;
  border: none;
  background-color: transparent;
  outline: none;
  display: inline-block;
  width: 300px;
  height: 130px;
}
.relay_on {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
}
.relay_off {
  background-image: url("../img/sprite.png");
  background-position: -300px 0px;
}
.mlink {
  color: crimson;
  text-decoration: none;
}
.mlink:hover {
  color: cornsilk;
  text-decoration: underline;
  text-decoration-color: coral;
}
